/**************non*******/
#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
 margin-top: 5%; 
}

#overlay p {
 color:white; 
}

#leftArrow, #rightArrow{
	background: url('http://www.nwtexhibits.ca/icepatch/img/icon-chevron-leftright-512px.png') no-repeat;
	background-size: cover;
	width: 75px;
	height: 75px;
	display: inline-block;
	margin: 40px;
	vertical-align: 50%;
}

#rightArrow{
	background-position: -75px 0px;
}

#closeLightbox{
	background: url('http://www.freeiconspng.com/uploads/close-icon-29.png') no-repeat;
	background-size: cover;
	width: 25px;
	height: 25px;
	margin: 20px;
	float: right;
}
/*********************vote****************/
    .rating {
	width: 226px;
	margin: 0 auto 1em;
	font-size: 25px;
	overflow:hidden;
    }
    .rating a {
	float:right;
	color: #aaa;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
    }
    .rating a:hover,
    .rating a:hover ~ a,
     rating a:focus,
    .rating a:focus ~ a	{
	color: orange;
	cursor: pointer;
    }
    .rating2 {
	direction: rtl;
    }
    .rating2 a {
	float:none
    }
    .image_upload{
        margin: 1px;
        border: 1px solid black;
        width :150px;
        height :150px;
    }