
#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
 margin-top: 5%; 
}

#overlay p {
 color:white; 
}

#leftArrow, #rightArrow{
	background: url('http://www.nwtexhibits.ca/icepatch/img/icon-chevron-leftright-512px.png') no-repeat;
	background-size: cover;
	width: 75px;
	height: 75px;
	display: inline-block;
	margin: 40px;
	vertical-align: 50%;
}

#rightArrow{
	background-position: -75px 0px;
}

#closeLightbox{
	background: url('http://www.freeiconspng.com/uploads/close-icon-29.png') no-repeat;
	background-size: cover;
	width: 25px;
	height: 25px;
	margin: 20px;
	float: right;
}
.image_upload{
        padding: 30%;
        padding: auto;
        border: 1px solid black;
        width :150px;
        height :150px;
    }