<?php
class Config {

    /* display error */
    const DEV_MODE = true;
    /* die on error */
    const DIE_MODE = true;



    const CONTROLLER_PATH = 'controller';
    const CORE_PATH = 'core';
    const VIEW_PATH = 'view';
    const MODEL_PATH = 'model';
    const LOG_DIR = 'media/log';

    const DB_HOST = 'localhost';
    const DB_NAME = 'fournine';
    const DB_PASSWORD = '';
    const DB_USER = 'root';
}